body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
    padding: 10px 20px;
}

.navbar-left, .navbar-right {
    display: flex;
    gap: 15px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
}

.navbar-brand {
    text-decoration: none;
    color: rgb(255, 102, 0);
    display: inline-block;
}

.logo-top {
    font-weight: bold;
    font-size: 1.7em;
}

.logo-bottom {
    display: block;
    font-weight: bold;
    font-size: 1.7em;
}

.sign-in-box {
    background-color: rgb(255, 60, 0);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

.dark-mode-toggle {
    cursor: pointer;
}

.secondary-navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 8px 20px;
}

.secondary-navbar-left, .secondary-navbar-right {
    display: flex;
    gap: 30px;
}

.secondary-nav-link {
    text-decoration: none;
    color: black;
    padding: 1px 1px;
    position: relative;
}

.welcome-container {
    padding: 40px 20px;
    text-align: center;
}

.welcome-content {
    max-width: 800px;
    margin: 0 auto;
}

.welcome-heading {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.community-name {
    color: rgb(14, 10, 3);
}

.welcome-description {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.custom-input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-form-control {
    width: 70%;
    padding: 12px;
    border: 2px solid rgba(21, 16, 6, 0.4);
    border-radius: 0 0 0 0;
    outline: none;
    font-size: 1em;
}

.custom-btn {
    background-color: rgb(255, 111, 0);
    color: white;
    border: none;
    padding: 14px 14px;
    border-radius: 0 0 0 0;
    cursor: pointer;
    font-size: 1em;
}

.custom-btn:hover {
    opacity: 0.8;
}
.info-container {
    display: flex;
    padding: 10px 50px;
    justify-content: space-around;
    margin-top: 20px;
}

.info-box {
    flex: 1;
    margin: 8px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:#fc7945;
    text-align: center;
    box-shadow: 0 0 10px rgba(235, 231, 231, 0.1);
    color: white;
}
.info-box h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    
}

.info-box p {
    font-size: 1em;
    line-height: 1.5;
}

.courses-container {
    padding: 50px 50px;
    text-align: left; /* Align the heading to the left */
}

.courses-heading {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    line-height: 1.5;
}

.explore-link {
    display: inline-block;
    margin-top: 15px;
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.explore-link:hover {
    text-decoration: underline;
   
}
.courses-container {
    padding: 50px 50px;
    text-align: left; 
}

.courses-heading {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    margin: 5px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    line-height: 1.5;
}

.explore-link {
    display: inline-block;
    margin-top: 15px;
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.explore-link:hover {
    text-decoration: underline;
}

























